 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p>I am a freshman at UCSD studying computer science.</p>
                </div>
                <div class="col-lg-4">
                    <p>I am interested in just creating cool things. </p>
                </div>
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <a href="img/portfolio/Anish_Resume.pdf" class="btn btn-lg btn-outline">
                        <i class="fa fa-download"></i> Download Resume(.pdf)
                    </a>
				<div class="col-lg-8 col-lg-offset-2 text-center">
                    <a href="img/portfolio/Anish_Resume.docx" class="btn btn-lg btn-outline">
                        <i class="fa fa-download"></i> Download Resume (.docx)
                    </a>
                </div>
            </div>
        </div>
    </section>